body {
    font-size: 16px;
    margin: 0px auto 0px auto;
    max-width: 720px;
}

header {
    border-bottom: 1px solid silver;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
}
header a {
    color: royalblue;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    text-decoration: none;
}
header .current-item {
    background-color: silver;
    color: white;
}
header .right-item {
    float: right;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}

footer {
    border-top: solid 1px silver;
    color: silver;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}
footer a {
    color: steelblue;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}