<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Also spricht Kirikaza :: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <header>
            <a class="left-item $if(postsListPage)$ current-item $endif$" href="/">Мои статьи</a>
            <a class="right-item $if(aboutPage)$ current-item $endif$" href="/about.html">Обо мне</a>
        </header>
        <div class="content">
            $if(singlePostPage)$<h1>$title$</h1>$endif$
            $body$
        </div>
        <footer>
            Спасибо <a href="http://jaspervdj.be/hakyll">Hakyll</a> за генерацию сайта
        </footer>
    </body>
</html>
