<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Also spricht Kirikaza :: $title$</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/styles/default.css" />
	$if(googleAnalyticsID)$ 
	<!-- Google Analytics [begin] -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=$googleAnalyticsID$"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag() { dataLayer.push(arguments); }
	  gtag('js', new Date());
	  gtag('config', '$googleAnalyticsID$');
	</script>	
	<!-- Google Analytics [end] -->
	$endif$
	$if(goSquaredID)$
	<!-- GoSquared [begin] -->
	<script>
	  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
	  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
	  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
	  insertBefore(d,q)}(window,document,'script','_gs');

	  _gs('$goSquaredID$');
	</script>
	<!-- GoSquared [end] -->
	$endif$
    </head>
    <body>
        <header>
	    <div class="header-content">
                <a href="/">Also spricht Kirikaza</a>
	    </div>
        </header>
        <div class="content">
            $if(singlePostPage)$<h1>$title$</h1>$endif$
            $body$
        </div>
        <footer>
	    <div class="footer-content">
	      <div>
                <a class="icon" href="https://twitter.com/kirikaza"><img src="/styles/twitter.svg"/></a>
                <a class="icon" href="https://github.com/kirikaza"><img src="/styles/github.png"/></a>
	      </div>
              <div class="thanks">Спасибо <a href="http://jaspervdj.be/hakyll">Hakyll</a><br/> за генерацию сайта</div>
	    </div>
        </footer>
    </body>
</html>
