@font-face {
    font-family: 'Liberation Serif';
    src: url('liberation_serif.woff') format('woff');
}
@font-face {
    font-family: 'Liberation Serif';
    src: url('liberation_serif_italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Liberation Mono';
    src: url('liberation_mono.woff') format('woff');
}

body {
    font-family: 'Liberation Serif', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.header-content,
.footer-content,
.content {
    max-width: 720px;
    margin: 0px auto;
}
header,
footer,
.content {
    padding: 8px;
}
header {
    background-color: #333333;
    font-family: 'PT Serif Caption', serif;
    font-weight: bold;
}
header a {
    text-decoration: none;
}
header a,
header a:visited {
    color: #999999;
}
footer {
    background-color: #EEEEEE;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .icon {
    padding: 0 6px;
}
footer .icon img {
    height: 28px;
    vertical-align: middle;
}
footer .thanks {
    float: right;
    font-size: 12px;
    text-align: right;
    color: #666666;
}
footer .thanks a {
    text-decoration: none;
    color: steelblue;
}
footer .thanks a:hover {
    text-decoration: underline;
}
.content {
}

h1, h2 {
    font-family: 'PT Serif Caption', serif;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}

p {
    text-align: justify;
}
p sub {
    font-size: 9px;
}
p + ul {
    margin-top: -1em;
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 3px;
}
pre, code {
    font-family: 'Liberation Mono', monospace;
    font-size: 16px;
}
pre {
    overflow-x: auto;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    background-color: #F8F8F8;
    padding: 0 3px;
}
